$text-dark: #000000;
$text-white: #ffffff;
$text-title: #ffbb00;
$text-partner: #9c9c9c;
$text-grey: #b3b3b3;
$text-title-partner: #121212;
$text-button: #332200;
$text-product: #121212;
$text-price: #595959;
$text-deal:#332200;
$text-author:#A66F00;
$text-title-deal:#F7F7F7;
$text-silver:#9C9C9C;
$text-gold: #ffbb00;
$text-sign-up:#CCCCCC;
$text-monthly:#9C9C9C;

$text-xs: 12px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 24px;
$text-3xl1: 32px;
$text-3xl2: 36px;
$text-6xl: 64px;

$text-light: 400;
$text-regular: 500;
$text-semiBold: 600;
$text-bold: 900;

$bg-light: #ffffff;
$bg-dark: #000000;
$bg-button: linear-gradient(180deg, #ffbb00 0%, #f2a60c 100%);
$bg-main: #ffbb00;
$bg-grey:#b3b3b3;
$bg-table:#EDEDED;
$bg-deal:#121212;

$font-Poppins: "Poppins", sans-serif;
$font-Merriweather: "Merriweather", serif;
